<!-- E0 行业定位 · HTML 模板 -->
<!-- 不需要 <style>，样式由宿主页面 .ind-section 统一定义 -->
<div class="ind-section">
  <div class="ind-section__grid">
    <div class="ind-section__field"><div class="ind-section__label">代表产品</div><div class="ind-section__value">{{REPRESENTATIVE_PRODUCT}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">ISIC 分类</div><div class="ind-section__value">{{ISIC_CLASSIFICATION}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">细分行业</div><div class="ind-section__value">{{SUB_INDUSTRY}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">发展周期</div><div class="ind-section__value">{{DEVELOPMENT_CYCLE}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">产业链位置</div><div class="ind-section__value">{{CHAIN_POSITION}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">行业梯队</div><div class="ind-section__value">{{INDUSTRY_TIER}}</div></div>
    <div class="ind-section__field"><div class="ind-section__label">市占率口径</div><div class="ind-section__value">{{MARKET_SHARE_BASIS}}</div></div>
  </div>
  <div class="ind-section__supplement">{{SUPPLEMENT_TEXT}}</div>
</div>
