<!-- E1 市场规模 · HTML 模板 -->
<!-- 不需要 <style>，样式由宿主页面 .ind-section 统一定义 -->
<div class="ind-section">
  <div class="ind-section__metrics">{{SUMMARY_METRICS}}</div>
  <div class="ind-section__data-block">
    <h4>{{MARKET_TABLE_TITLE}}</h4>
    {{MARKET_TABLE}}
  </div>
  <div class="ind-section__data-block">
    <h4>{{SEGMENTS_TITLE}}</h4>
    {{SEGMENTS}}
  </div>
  <div class="ind-section__evidence">
    <div class="ind-section__evidence-title">{{EVIDENCE_TITLE}}</div>
    {{EVIDENCE}}
  </div>
</div>
