<!-- E5 竞争格局 · HTML 模板 -->
<div class="ind-section">
  <div class="ind-section__rating">{{RATING_CARD}}</div>
  <div class="ind-section__data-block"><h4>{{CONCENTRATION_TITLE}}</h4>{{CONCENTRATION}}</div>
  <div class="ind-section__data-block"><h4>{{COMPETITORS_TITLE}}</h4>{{COMPETITORS_TABLE}}</div>
  <div class="ind-section__insight"><div class="ind-section__insight-title">{{INSIGHTS_TITLE}}</div>{{INSIGHTS}}</div>
  <div class="ind-section__evidence"><div class="ind-section__evidence-title">{{EVIDENCE_TITLE}}</div>{{EVIDENCE}}</div>
</div>
